.container {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .headerBar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .headerBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .cartTitle {
        margin-top: 3rem;
        color: rgb(59, 59, 59);
        display: inline-block;
        font-family: "SansLight";
        .cartTotal {
          display: inline-block;
          margin-left: 5px;
          color: #f89e0f;
        }
      }
      .orderBox {
        height: 30px;
        width: 120px;
        border-radius: 0.3rem;
      }
    }

    border-bottom: solid 2px rgb(197, 197, 197);
  }
  .footer {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    font-size: 23px;
  }
  .greenImg {
    width: 380px;
  }
}
.header__logo {
  width: 120px;
}
