@media screen and (max-width: 510px) {
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .titles {
    font-size: 13px;
  }
  .details .titles p {
    display: none;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem 0 2rem;
  height: 160px;
  border-bottom: solid 2px #c5c5c5;
}

.container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .details .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .details .images .img_background {
  width: 155px;
  height: 100px;
  z-index: 1;
  position: relative;
}

.container .details .images .img_product {
  width: 140px;
  position: relative;
  z-index: 2;
  margin-left: -9.2rem;
}

.container .details .titles {
  margin: 0 1rem 0rem 1rem;
}

.container .details .titles p {
  color: #777777;
}

.container .price {
  color: #3d3d3d;
  margin: 0 1rem 0rem 1rem;
  font-size: 14px;
}

.container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Comfortaa", cursive;
  color: #333333;
}

.container .buttons .quantity {
  font-family: "Work Sans", sans-serif;
  font-size: 19px;
}

.container .buttons .quantityCounter {
  padding: 0.2rem;
  background-color: #fafafa;
  height: 80px;
  width: 45px;
  margin: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 0.2rem;
}

.container .buttons .deleteProduct {
  padding: 0.2rem;
  background-color: #fafafa;
  height: 80px;
  width: 45px;
  margin: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 0.2rem;
  -webkit-animation-name: example;
          animation-name: example;
}
/*# sourceMappingURL=Products.module.css.map */