

.App {
  display: flex;
  flex-wrap: wrap; 

  background-color: #f3f1ed;
  height: 100%;
  justify-content: center;
  gap: 1rem;
}

.ItemOne {
 /* flex:2 1 auto; */
 flex-grow:21;
}
.ItemTwo {
  order:0;
  flex-grow:1;
  flex-shrink:1;
}